TestDesignData/SampleData/MaualPersonModelSampleDataSource/MaualPersonModelSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008"
           xmlns:tns=      "Expression.Blend.SampleData.MaualPersonModelSampleDataSource" 
           targetNamespace="Expression.Blend.SampleData.MaualPersonModelSampleDataSource" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MaualPersonModelSampleDataSource" type="tns:MaualPersonModelSampleDataSource" />
  <xs:complexType name="MaualPersonModelSampleDataSource">
    <xs:sequence>
      <xs:element name="Persons" type="tns:Persons" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Persons">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PersonsItem" type="tns:PersonsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Agex10" type="xs:double" />
  </xs:complexType>
</xs:schema>